.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
}

.logo{
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(2vmin);
  color: white;
}

.App-main{
  background-color: #282c34;
  height: 90vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
  .buscador-libros{
    height: max-content;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

    .buscador{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .libro{
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid white;
      border-radius: 6px;
      margin: 5px;
      padding: 5px;
    }
      /* .libro img{
        width: 150px;
        height: 200px;
      } */
      ul{
        padding: 0;
      }
      li {
        list-style-type: none; /* Esto quita los marcadores de lista de los elementos <li> */
      }

      .infoLibro{
        text-align: left;
        padding: 10px;
      }

      .buscador h1{
        font-size: medium;
        color: white;
      }

      h3{
        color: white;
      }
      .infoLibro a{
        text-decoration: underline;
        color: white;
      }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
